.Explaining_Text{
    margin-left: 6%;
    margin-right:6%;
    color: gray;
    margin-top:10%;
    text-shadow: 0px 0px 100px darkslategray, 0px 0px 5ch white;
}

.Next_Button{
    margin-top: 15%;
    font-size: 3vw;
    color: white;
    background: none;
    border: none;
    transition-duration: 200ms;
}

.Next_Button:hover{
    color:darkslategray;
    text-decoration: underline;
    cursor:pointer;
    text-shadow: 0px 0px 2.5ch whitesmoke;
}