.Explaining_Text{
    margin-left: 6%;
    margin-right:6%;
    color: gray;
    margin-top:10%
}

.Next_Button{
    margin-top: 15%;
    font-size: 3vw;
    color: white;
    background: none;
    border: none;
    transition-duration: 200ms;
}

.Next_Button:hover{
    color:darkslategray;
    text-decoration: underline;
    cursor:pointer;
}