.Explaining_Text{
    margin-left: 6%;
    margin-right:6%;
    color: gray;
    margin-top:10%;
    text-shadow: 0px 0px 100px darkslategray, 0px 0px 5ch white;
  }
  
.Next_Button:hover{
  color:darkslategray;
  text-decoration: underline;
  cursor:pointer;
  text-shadow: 0px 0px 2.5ch whitesmoke;
}

.fadein{
  opacity: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  will-change: opacity;
}

.fadein.FadeIn{
  opacity:1;
}